body {
  background-color: rgb(212, 211, 211);
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 17px;
}

.navbar-brand {
  margin-top: 0px !important;
  margin-left: 5px;
  padding: 10px;
  background-color: rgb(48, 167, 167);
  color: white !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: bold;
}